<div class="container py-5">
  <div class="row">
      <div class="col-md-12">
          <h2 class="text-center mb-5">Registration to
                <small>Rent a car</small></h2>
          <div class="row">
              <div class="col-md-6 mx-auto">
                  <div class="card border-secondary">
                      <div class="card-header">
                          <h3 class="mb-0 my-2">Sign Up</h3>
                      </div>
                      <div class="card-body">
                          <form #f="ngForm" (click)="Registration(f.value, f)">
                              <div class="form-group">
                                  <label for="inputName">Name</label>
                                  <input type="text" class="form-control" id="inputName" name="FullName" placeholder="full name" ngModel>
                              </div>
                              <div class="form-group">
                                  <label for="inputEmail3">Email</label>
                                  <input type="email" class="form-control" id="inputEmail3" name="Email" placeholder="email@gmail.com" required="" ngModel>
                              </div>
                              <div class="form-group">
                                  <label for="inputPassword3">Password</label>
                                  <input type="password" class="form-control" id="inputPassword3" name="Password" placeholder="password" title="At least 6 characters with letters and numbers" required="" ngModel>
                              </div>
                              <div class="form-group"> 
                                  <label for="inputVerify3">Verify</label>
                                  <input type="password" class="form-control" id="inputVerify3" name="ConfirmPassword" placeholder="password (again)" required="" ngModel>
                              </div>
                              <div class="form-group">
                                    <label for="inputVerify3">Date</label>
                                    <input type="date" class="form-control" name="Birthday" id="example-date-input" ngModel>
                                </div>
                              <div class="form-group">
                                  <button type="submit" class="btn btn-success btn-lg float-right">Register</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <!--/row-->

      </div>
      <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->