

<!-- Page Content -->
<div class="container"  align="center">

  <div  class="col-form-label"  align="center">
      <h1 class="my-4">{{service.Name}}</h1>

    <div class="col-lg-9">
      <div class="card mt-4">
        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active" *ngFor="let p of pictures" >
                <img class="d-block img-fluid" src="http://localhost:51680{{p}}" alt="First slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="card-body">
              <h3 class="card-title">{{vehicle.Producer}} <small>{{vehicle.Model}}</small></h3>
                <h5>{{vehicle.Pirce}}$</h5>
              <p class="card-text">{{vehicle.Description}}</p>
              
            </div>
          </div>
          <div *ngIf="Authentication() && LoginUser()">
            <button type="submit" class="btn btn-warning" (click)="Updata(vehicle.Id)">Updata</button>
            <button type="submit" class="btn btn-danger" (click)="Remove(vehicle.Id)">Remove</button>
        </div>

    </div>
    <!-- /.col-lg-9 -->
<br>
<br>
    <div  *ngIf="LoginUser()">
    <div  class="col-3">
        <div class="col-form-label">
          <div class="form-group row">
            <div class="col-15">
                <label for="example-datetime-local-input">Date and time of vehicle takeover:</label>
              <input class="form-control" [formControl]="Start" type="datetime-local" id="example-datetime-local-input">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-15">
              <label for="example-datetime-local-input">Date and time of vehicle return:</label>           
              <input class="form-control" [formControl]="End" type="datetime-local" id="example-datetime-local-input">
            </div>
          </div>
        </div>
    </div>

          <div class="col-md-15">
            <div style="width:50%; margin: 0 auto">
              <p>Select branch where you want to pick up the vehicle:</p>
              <p>
                <!-- Kreiramo mapu -->
                <agm-map [latitude]="mapInfo1.CenterLat" [longitude]="mapInfo1.CenterLong" [zoom]="13" (mapClick)="placeMarker1($event)">
                  
                  <!-- Postavljamo markere -->
                  <agm-marker  *ngFor="let data of markers;" [latitude]="data.Lat" [longitude]="data.Lgt" (markerClick)="markerClick1(data.Lat, data.Lgt)"></agm-marker>
                </agm-map>
              </p>
              <p *ngIf="selectedBr1 == true">Branch on address {{branch1.Address}} selected</p>
            </div>
          </div>
          <div class="col-md-15">
            <div style="width:50%; margin: 0 auto">
                <p>Select branch where you want to return the vehicle:</p>
                <p>
                    <!-- Kreiramo mapu -->
                    <agm-map [latitude]="mapInfo2.CenterLat" [longitude]="mapInfo2.CenterLong" [zoom]="13" (mapClick)="placeMarker2($event)">
                    
                      <!-- Postavljamo markere -->
                      <agm-marker *ngFor="let data of markers;" [latitude]="data.Lat" [longitude]="data.Lgt" (markerClick)="markerClick2(data.Lat, data.Lgt)"></agm-marker>

                    </agm-map>
                </p>
                <p *ngIf="selectedBr2 == true">Branch on address {{branch2.Address}} selected</p>
          </div>
        </div>

      <button type="submit" class="btn btn-success" (click)="Reservation()">Reservation</button>
    </div>
  </div>

</div>
<br>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>